$var_equalsColor : #76b9ed;
$var_calcBg : #202020;
$var_btnBg : #323232;
$var_mcColor : #565656;
$var_textColor : #f5f5f5;

$var_gradient1 : #01a3f4;
$var_gradient2 : #0288e4;
$var_gradient3 : #0644c0;

