@import './partials/variables';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



main{
    height: 100vh;
    // background: linear-gradient(to right, $var_gradient1 , $var_gradient2, $var_gradient3);
    background-image: url(https://img.freepik.com/free-photo/black-office-business-equipment-black-background_1387-807.jpg?size=626&ext=jpg&ga=GA1.2.1023542374.1680303405&semt=ais);
    // background-image: url(https://wallpapers.com/images/hd/red-and-blue-calculators-yxm0myfzuym67431.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    .calWrapper{
        background-color: $var_calcBg;
        // inputField
        .container{
            .operatorInputt{
                font-size: 1rem;
                background-color: $var_calcBg;
            }
            .inputField{
                font-size: 3rem;
                background-color: $var_calcBg;
            }
        }

        // mcMrArea
            .mcArea{
                color: $var_mcColor ;
            }

//         // operatorArea

        .operatorArea{ 
                        .num{
                            background-color: $var_btnBg;
                            font-size: 1rem;
                            border: 1px solid black;

                        }
                    
                        .numbers{
                            background-color: $var_mcColor;

                        }
                        .equals{
                            background-color: $var_equalsColor;
                        }
            .num:hover{
                background-color: $var_gradient1;
            }
        }
        
    }
}